@{
    ViewData["Title"] = "Retro Runner";
    ViewData["Form"] = true;
}
<link rel="stylesheet" href="http://localhost:8080/src/index.css" /> 
<div id="root" aria-live="polite" role="log">

</div>
<script src="http://localhost:8080/vendor-latest.js"></script>
<script src="http://localhost:8080/main-latest.js"></script>